  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'ews_app:ad-hm' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav  menu-button-wide-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-house-door"></i><span>HOME</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'ews_app:wl' %}">
              <i class="bi bi-circle"></i><span>Welcome Speech</span>
            </a>
          </li>
          <li>
            <a href="{% url 'ews_app:il' %}">
              <i class="bi bi-circle"></i><span>Investment Speech</span>
            </a>
          </li>
          <li>
            <a href="{% url 'ews_app:tl' %}">
              <i class="bi bi-circle"></i><span>Third Section</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'ews_app:admin-about' %}">
          <i class="bi bi-person"></i><i class="bi bi-journal-text"></i>
          <span>ABOUT US</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'ews_app:token' %}">
          <i class="bi bi-circle"></i><i class="bi bi-journal-text"></i>
          <span>TOKENOMICS</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'ews_app:faq-admin' %}">
          <i class="bi bi-circle"></i><i class="bi bi-layout-text-window-reverse"></i>
          <span>Frequently Asked Questions </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'ews_app:roadList' %}">
          <i class="bi bi-circle"></i><i class="bi bi-layout-text-window-reverse"></i>
          <span>ROADMAP </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'ews_app:contactAdmin' %}">
          <i class="bi bi-circle"></i><i class="bi bi-layout-text-window-reverse"></i>
          <span>CONTACT </span>
        </a>
      </li>

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">-->
<!--          <i class="bi bi-journal-text"></i><span>ABOUT US</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--        </a>-->
<!--        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">-->
<!--          <li>-->
<!--            <a href="{% url 'ews_app:about' %}">-->
<!--              <i class="bi bi-circle"></i><span>ABOUT US</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="forms-layouts.html">-->
<!--              <i class="bi bi-circle"></i><span>Form Layouts</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="forms-editors.html">-->
<!--              <i class="bi bi-circle"></i><span>Form Editors</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="forms-validation.html">-->
<!--              <i class="bi bi-circle"></i><span>Form Validation</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>&lt;!&ndash; End Forms Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">-->
<!--          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--        </a>-->
<!--        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">-->
<!--          <li>-->
<!--            <a href="tables-general.html">-->
<!--              <i class="bi bi-circle"></i><span>General Tables</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="tables-data.html">-->
<!--              <i class="bi bi-circle"></i><span>Data Tables</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>&lt;!&ndash; End Tables Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">-->
<!--          <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--        </a>-->
<!--        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">-->
<!--          <li>-->
<!--            <a href="charts-chartjs.html">-->
<!--              <i class="bi bi-circle"></i><span>Chart.js</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="charts-apexcharts.html">-->
<!--              <i class="bi bi-circle"></i><span>ApexCharts</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="charts-echarts.html">-->
<!--              <i class="bi bi-circle"></i><span>ECharts</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>&lt;!&ndash; End Charts Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">-->
<!--          <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--        </a>-->
<!--        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">-->
<!--          <li>-->
<!--            <a href="icons-bootstrap.html">-->
<!--              <i class="bi bi-circle"></i><span>Bootstrap Icons</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="icons-remix.html">-->
<!--              <i class="bi bi-circle"></i><span>Remix Icons</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="icons-boxicons.html">-->
<!--              <i class="bi bi-circle"></i><span>Boxicons</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>&lt;!&ndash; End Icons Nav &ndash;&gt;-->

<!--      <li class="nav-heading">Pages</li>-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="users-profile.html">-->
<!--          <i class="bi bi-person"></i>-->
<!--          <span>Profile</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Profile Page Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-faq.html">-->
<!--          <i class="bi bi-question-circle"></i>-->
<!--          <span>F.A.Q</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End F.A.Q Page Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-contact.html">-->
<!--          <i class="bi bi-envelope"></i>-->
<!--          <span>Contact</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Contact Page Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-register.html">-->
<!--          <i class="bi bi-card-list"></i>-->
<!--          <span>Register</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Register Page Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-login.html">-->
<!--          <i class="bi bi-box-arrow-in-right"></i>-->
<!--          <span>Login</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Login Page Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-error-404.html">-->
<!--          <i class="bi bi-dash-circle"></i>-->
<!--          <span>Error 404</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Error 404 Page Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-blank.html">-->
<!--          <i class="bi bi-file-earmark"></i>-->
<!--          <span>Blank</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Blank Page Nav &ndash;&gt;-->

    </ul>

  </aside><!-- End Sidebar-->
