{% extends 'ews_app/base.html' %}
{% load static %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>TOKENOMICS VIDEO</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'ews_app:ad-hm' %}">Home</a></li>
          <li class="breadcrumb-item">COMPONENTS</li>
          <li class="breadcrumb-item active">TOKENOMICS VIDEO</li>
        </ol>
      </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-8">
                {% if i in messages %}
                    {{ i }}
                {% endif %}
                {% if user.is_authenticated %}
                <h4 class="text-center" style="color: blue; font-weight: 700;"> Add TOKENOMICS VIDEO to Database</h4>

                    <br><br>
                    {% if submitted %}
                        The TOKENOMICS VIDEO was submitted Successfully
                    {% else %}
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label for="" class="col-sm-2 col-form-label">VIDEO NAME</label>
                                <div class="col-sm-10">
                                  <input type="text" name="name" class="form-control" required>
                                </div>
                              </div>
                            <div class="row mb-3">
                              <label for="" class="col-sm-2 col-form-label">Video Upload</label>
                              <div class="col-sm-10">
                                <input class="form-control" name="video" type="file" id="formFile" required>
                              </div>
                            </div>

                        <center> <input type="submit" class="btn btn-success col-6 " value="SUBMIT"></center>
                        </form>
                        <hr>
                        <br><br><br>
                        <hr>
                    {% endif %}
                {% else %}
                <p>You are not allowed here</p>
            </div>
        {% endif %}
        </div>

    </section>
</main>


{% endblock content %}