{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="faq-area" class="faq-area">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-10">
                <div class="faq-wrapper">
                    <div class="sub-title">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <div id="accordion">
                        {% for f in fq %}
                        <div class="card  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <div class="card-header" id="heading-1">
                                <a data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                    {{f.question}}
                                </a>
                            </div>
                            <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
                                <div class="card-body">
                                    {{f.answer}}.
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End faq-area -->


{% endblock content %}