{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="team_membar" class="team_membar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">This is Our Services</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Due to the use of large computing power and artificial based on the neural network, the NRM assistant will instantly analyze user data and offer solutions for their further use.</p>
                </div>
            </div>
        </div>
        <div class="row single-row">
            <div class="col-sm-6 col-md-6 col-lg-3 single-wrapper">
                <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <figure>
                        <div class="member-img">
                            <img src="{% static './images/team/team-01.jpg" alt="member img" class="img-fluid">
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4>Ariyan Rovert</h4>
                                <span>Ceo & Co-Founder</span>
                            </div>
                            <ul class="social-links list-unstyled">
                                <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 single-wrapper">
                <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <figure>
                        <div class="member-img">
                            <img src="{% static './images/team/team-02.jpg" alt="member img" class="img-fluid">
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4>David Martin</h4>
                                <span>Co-Founder & Team Lead</span>
                            </div>
                            <ul class="social-links list-unstyled">
                                <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 single-wrapper">
                <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <figure>
                        <div class="member-img">
                            <img src="{% static './images/team/team-03.jpg" alt="member img" class="img-fluid">
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4>Reena Scot</h4>
                                <span>Team Lead</span>
                            </div>
                            <ul class="social-links list-unstyled">
                                <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 single-wrapper">
                <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                    <figure>
                        <div class="member-img">
                            <img src="{% static './images/team/team-04.jpg" alt="member img" class="img-fluid">
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4>Paul Smith</h4>
                                <span>Co-Founder</span>
                            </div>
                            <ul class="social-links list-unstyled">
                                <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <div class="row single-row">
            <div class="col-sm-6 col-md-6 col-lg-3 single-wrapper">
                <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <figure>
                        <div class="member-img">
                            <img src="{% static './images/team/team-01.jpg" alt="member img" class="img-fluid">
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4>Ariyan Rovert</h4>
                                <span>Ceo & Co-Founde</span>
                            </div>
                            <ul class="social-links list-unstyled">
                                <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 single-wrapper">
                <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <figure>
                        <div class="member-img">
                            <img src="{% static './images/team/team-02.jpg" alt="member img" class="img-fluid">
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4>David Martin</h4>
                                <span>Founder</span>
                            </div>
                            <ul class="social-links list-unstyled">
                                <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 single-wrapper">
                <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <figure>
                        <div class="member-img">
                            <img src="{% static './images/team/team-03.jpg" alt="member img" class="img-fluid">
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4>Reena Scot</h4>
                                <span>Ceo & Co-Founde</span>
                            </div>
                            <ul class="social-links list-unstyled">
                                <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 single-wrapper">
                <div class="team-single-item  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                    <figure>
                        <div class="member-img">
                            <img src="{% static './images/team/team-04.jpg" alt="member img" class="img-fluid">
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4>Paul Smith</h4>
                                <span>Co-Founder</span>
                            </div>
                            <ul class="social-links list-unstyled">
                                <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>  <!-- End team_membar -->



{% endblock content %}